<div class="container">
  <div class="description-container">
    <div class="main-content">
      <div class="names2">
        <div class="name">
          <h2 class=""> <%= @turtle.first_name  =%> <%= @turtle.last_name =%> </h2>
        </div>
        <div class="navigators">
        </div>
      </div>
      <div class="photo">
        <% if @turtle.photo.attached? %>
          <%= cl_image_tag @turtle.photo.key, crop: :fill, class: 'turtle-photo', id: 'turtles-photo'%>
        <% else %>
          <%= image_tag 'cuteturtle.jpg', crop: :fill, class: 'turtle-photo', id: 'turtles-photo' %>
        <% end %>
      </div>
    </div>
    <div class="names2">
      <p class="detail"> <%= @turtle.description%> <p>
    </div>

    <%= simple_form_for [@turtle, @booking] do |f| %>
      <%= f.input :start_date, as: :string, required: false, input_html: {class: "datepicker"} %>
      <%= f.input :end_date, as: :string, required: false, input_html: {class: "datepicker"} %>
      <%= f.button :submit  %>
    <% end %>
    </div>
  </div>
</div>
