<div class="container">
  <div class="description-container">
    <div class="main-content">
      <div class="names">
        <div class="name">
          <h2 class="text-headline"> <%= @turtle.first_name  =%> <%= @turtle.last_name =%> </h2>
        </div>
        <div class="navigators">
        </div>
      </div>
      <div class="photo">
        <% if @turtle.photo.attached? %>
          <%= cl_image_tag @turtle.photo.key, crop: :fill, class: 'turtle-photo', id: 'turtles-photo'%>
        <% else %>
          <%= image_tag 'cuteturtle.jpg', crop: :fill, class: 'turtle-photo', id: 'turtles-photo' %>
        <% end %>
      </div>
    </div>
    <div class="details">
      <p class="detail"> <%= @turtle.description%> <p>
    </div>
    <%= simple_form_for [@turtle, @booking] do |f| %>

    <span>
      <label class="label-both">
      <%= f.input :start_date, as: :string, required: true, input_html: {class: "datepicker"} %>
      </label>
    </span>

    <span>
      <label class="label-imput label-both">
        <%= f.input :end_date, as: :string, required: true, input_html: {class: "datepicker"} %>
      </label>
    </span>

    <span class="label-btn">
    <%= f.button :submit  %>
    </span>

    <% end %>

    </div>
  </div>
</div>
