


  <div class="conf-flex-container container">

  <div class="message-container">
  <h2>Congratulations, your booking has been confirmed!</h2><br>
  <h3>Your Turtle Friend is: </h3><br>
  </div>

  <div class="conf-flex-item-left">
   <div class="photo">
        <% if @booking.turtle.photo.attached? %>
          <%= cl_image_tag @turtle.photo.key, height: 300, width: 400, crop: :fill, class: 'conf-photo'%>
        <% else %>
          <%= image_tag 'cuteturtle.jpg', height: 300, width: 400, crop: :fill, class: 'conf-photo' %>
        <% end %>
      </div>
  </div>

  <div class="conf-flex-item-right">
  <div class="booking-container">
  <h3><%= @booking.turtle.first_name %> <%= @booking.turtle.last_name %></h3>
  <hr>
  <p><%= @booking.turtle.description %></p>
  <hr>
  <h3>Your booking details</h3>
  <p>Start date: <%= @booking.start_date %></p>
  <p>End date: <%= @booking.end_date %></p>
  <p><span class="total-price">Total Price: <%= @booking.full_price %>€</span></p>
  </div>
  </div>

</div>
