
<div>
  <br>
  <h2><strong>Congratulations, your booking has been confirmed!</strong></h2><br>
  <h3><strong>Your turtle friend</strong></h3><br>

  <strong>Start Date: <%= @booking.start_date %></strong> | <strong>End Date: <%= @booking.end_date %></strong>

  <h4><strong><%= @booking.turtle.first_name %> <%= @booking.turtle.last_name %></strong></h4>
  <p>Location: <%= @booking.price %></p>
  <p><%= @booking.turtle.description %></p>

  <div class="booking-image"><br>
    <img src=<%= @booking.turtle.photo %> alt="Your Turtle photo" width="1000" class="img-responsive">
  </div>
</div>
