<div class="hero">
  <div class="hero-image">
    <div class="container">
      <h1><%= 'Find the smallest of friends' %></h1>
      <h2><%= link_to 'Meet your new buddy', turtles_path%></h2>
    </div>
  </div>
</div>

<% Turtle.all.sample(3).each do |turtle| %>
<%= turtle.first_name %>
<% end %>

<% vr = Turtle.all%>
<%= vr[0].photo  %>
<%= image_tag(vr[0].photo) %>
