<br><br><br><br><br>
<p class="back-button"><%= link_to '<', home_path %></p>
<div class="container-of-index">
  <div class="cards">
    <% @turtles.each do |turtle| %>
      <li class="turtle-card">
        <%= link_to turtle.first_name, turtle_path(turtle), class: "turtle-link-names"%>
        <%= link_to turtle.last_name, turtle_path(turtle), class:"turtle-link-names" %>
        <%= turtle.description %>
        <% if turtle.photo.attached? %>
          <%= link_to (cl_image_tag turtle.photo.key, height: 300, width: 400, crop: :fill), turtle_path(turtle)%>
        <% else %>
          <%= image_tag 'cuteturtle.jpg', height: 300, width: 400, crop: :fill %>
        <% end %>
      </li>
    <% end %>
  </div>
</div>
