<div class="container">
  <p class="description-container">
    <div class="names">
      </div><%= @turtle.first_name %>
      <%= @turtle.last_name %>
    </div>
    <%= image_tag 'cuteturtle.jpg', height: 300 %>
  </p>
</div>

<%= link_to 'Edit', edit_turtle_path(@turtle), class: "btn btn-primary"%> |
<%= link_to 'Back', turtles_path, class: "btn btn-info" %>
